name: Call the reusable deploy

on:
  push:
    branches:
      - "*"   # triggers on every branch

jobs:
  call-reusable:
    uses: PRNAKL/password_rotator_pipeline/.github/workflows/handle_deployment.yml@PRNAKL-8_feature_GF
    permissions:
      id-token: write
      contents: read
    secrets:
      AWS_LAMBDA_PERMISSIONS:  ${{ secrets.AWS_LAMBDA_PERMISSIONS }}
      DEPLOY_LAMBDA_PERMISSIONS: ${{ secrets.DEPLOY_LAMBDA_PERMISSIONS }}
      EVENTBRIDGE_SCHEDULER: ${{ secrets.EVENTBRIDGE_SCHEDULER }}
      LAMBDA_EXEC_ROLE_V3: ${{ secrets.LAMBDA_EXEC_ROLE_V3 }}
      LAMBDA_FUNCTION_ARN: ${{ secrets.LAMBDA_FUNCTION_ARN }}
